# Cognito + API Gateway (lab DSY1107 — us-east-1)
# Copia este archivo a .env:  copy .env.example .env

VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_7yYrEJl8g
VITE_COGNITO_CLIENT_ID=1g7gh607pfmd9qpjtqls234h8o
VITE_COGNITO_DOMAIN=https://hospital-dsy1107-14303.auth.us-east-1.amazoncognito.com

# Backend vía API Gateway (no localhost si usas el stack en AWS)
VITE_API_URL=https://31ayxcki45.execute-api.us-east-1.amazonaws.com/prod
